<h1>Welcome to BusterBlocks Movie Rental Database </h1>
<ul>
    <li><p><a href="/movies">Movies</a>: View Movies</p></li>
    <li><p><a href="/members">Members</a>: View Members</p></li>
    <li><p><a href="/rentals">Rentals</a>: View Rentals</p></li>
    <li><p><a href="/transactions">Transactionss</a>: View Transactions</p></li>
</ul>